/* form starting stylings ------------------------------- */
.group {
    position: relative;
    margin-bottom: 50px;
}

.input_one {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #e6e6e6;
    background: transparent;
    text-overflow: ellipsis;
}

.input_one:focus {
    outline: none;
}

.input_one::placeholder {
    color: #afafaf;
}

.input_one:hover::placeholder {
    color: #969696;
    transition: 0.3s;
}

/* LABEL ======================================= */
.input_label {
    color: #e6e6e6;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
.input_one:focus~.input_label,
.input_one:valid~.input_label {
    top: -20px;
    font-size: 14px;
    color: #42a5f5;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 215px;
}

.bar:before,
.bar:after {
    content: '';
    height: 1px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #42a5f5;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */
.input_one:focus~.bar:before,
.input_one:focus~.bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
.input_one:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #42a5f5;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #42a5f5;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #42a5f5;
    }

    to {
        width: 0;
        background: transparent;
    }
}
